@{
    ViewBag.Title = "Details";
}

@model TopGunLab_Practice3.Models.Product

@section Body{
    <div class="h1" style="font-family:'Segoe UI'; padding:5px">Details</div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row" class="bg-info" style="width:100px">Name</th>
                <td> @Model.Name</td>
            </tr>
            <tr>
                <th scope="row" class="bg-info">Quantity</th>
                <td> @Model.Quantity</td>
            </tr>
        </tbody>
    </table>
}